* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;


  color: white;
  background-image: url(https://cdn.wallpapersafari.com/14/55/t1oEDT.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

body {
  display: grid;
  grid-template-columns: minmax(300px, 1200px);
  justify-content: center;

  height: 100vh;
  font-family: sans-serif;
}

img {
  max-width: 100%;
}

h1,
h2 {
  text-align: center;
}

.cards {
  display: grid;
  grid-template-columns: repeat(auto-fill, 375px);
  gap: 15px;
  justify-content: center;
  justify-items: center;

  padding: 2rem 0;
  margin-bottom: 2rem;

  overflow-y: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.cards::-webkit-scrollbar {
  display: none;
}

.card {
  width: 100%;
  justify-self: center;

  list-style: none;

  border: 8px solid gold;
  border-radius: 8px;
  backdrop-filter: brightness(50%) blur(10px);

  cursor: pointer;
  transition: all 300ms;
}

.card:hover {
  transform: scale(1.02);
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.card--text {
  margin: 0.2rem 53.5px;
  padding: 1rem 0 .5rem;

  list-style: none;

  border-radius: 5px;
}

.card--text li {
  margin: .3rem;
}

.card--img {
  display: block;
  margin: 0 auto;

  border: solid 2px gray;
  border-radius: 5px;
}
