<li class="card">
  <h2 class="card--title">Bulbasaur</h2>
  <img
    width="256"
    class="card--img"
    src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/other/official-artwork/1.png"
  />

  
<ul class="card--indices">
  <li>red: 153</li>
  <li>blue: 153</li>
  <li>yellow: 153</li>
  <li>gold: 1</li>
  <li>silver: 1</li>
  <li>crystal: 1</li>
  <li>ruby: 1</li>
  <li>sapphire: 1</li>
  <li>emerald: 1</li>
  <li>firered: 1</li>
  <li>leafgreen: 1</li>
  <li>diamond: 1</li>
  <li>pearl: 1</li>
  <li>platinum: 1</li>
  <li>heartgold: 1</li>
  <li>soulsilver: 1</li>
  <li>black: 1</li>
  <li>white: 1</li>
  <li>black-2: 1</li>
  <li>white-2: 1</li>


</ul>

  <ul class="card--text">
    <li>HP: 45</li>
    <li>ATTACK: 49</li>
    <li>DEFENSE: 49</li>
    <li>SPECIAL-ATTACK: 65</li>
    <li>SPECIAL-DEFENSE: 65</li>
    <li>SPEED: 45</li>
  </ul>
</li>

